.parent{
    border: 1px solid black;
    height: 400px;
    display: flex;
    gap: 20px;

   
}
img{
    width: 100px;
    height: 200px;
    margin-right: 100px;
}
.child1{
    background-color: rgb(8, 131, 176);
    border: 1px rgb(12, 137, 214)(0, 234, 255);
    height: 200px;
    width: 500px;
}
.child2{
    background-color: antiquewhite;
    border: 1px;
    height: 200px;
    width: 500px;

}
.child3{
    background-color: rgb(236, 5, 5);
    border: 1px;
    height: 200px;
    width: 500px;


}

#content{
    display: flex;
}
